/* Custom global styling */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&family=Karla:wght@500&display=swap');

/* Custom global styling */
:root {
  font-size: 62.5%;
  --font-heading: 'Karla', sans-serif;
  --font-main: 'Inconsolata', monospace;
  --blue: #1233FF;
  --orange: #ff6d00;
  --grey: rgb(85, 85, 85);
  --light-grey: rgba(128, 128, 128, 0.105);
}

/* Custom font styling */
body {
  color: white;
  background-color: #f6f9ff;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 1.7;
}

main {
  padding: 0 5rem;
}

h1,
h2,
h3,
form label,
.read-more {
  font-family: var(--font-heading);
}

h1 {
  font-family: var(--font-heading);
  font-size: 6rem;
}

h2 {
 font-size: 4.5rem;
 color: var(--blue);
 width: fit-content;
}

h3, 
form label {
  color: var(--blue);
  font-size: 2.5rem;
}

.active {
  font-weight: 700;
}

a, 
a:hover {
  text-decoration: none;
  color: var(--blue);
}

p,
.blockquote-footer {
  font-size: 1.65rem;
  color: var(--grey);
}

.homepage p,
.homepage .blockquote-footer {
  color: white;
}

.form-control {
  font-size: 1.65rem;
}

/* Custom card colour styling */


#existing-comments .card {
  background-color: var(--light-grey);
}

/* Custom button styling */
.btn {
  font-size: 1.65rem;
  background-color: var(--blue);
  border: var(--blue);
}

.btn-create {
  margin: 20px;
  border-radius: 50%;
  background-color: var(--light-grey);
  text-align: center;
  font-size: 6rem;
  width: 50px;
  height: 50px;
  line-height: 0.8; 
}

a.btn-create:hover {
  color: var(--orange)
}

.btn-see-more {
  background-color: white;
  border: white;
  color: var(--grey);
}

.un {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(rgb(255, 255, 255) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
      background-size 0.3s,
      background-position 0s 0.3s;
}

.parent-hover:hover .un, 
.un:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}

/* Viewport responses */
