.nav {
  background-color: var(--blue);
}

.nav a {
  color: white;
  font-size: 2rem; 
}

a:hover,
h1:hover, 
.nav-link:hover {
  color: white;
}

a:focus, 
.nav-link:focus {
  font-weight: 700;
  color: white;
}